<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679164283287-f7e7igsu52nfhpvudlne6m9kvimu69rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679164283287-f7e7igsu52nfhpvudlne6m9kvimu69rc</string>
	<key>API_KEY</key>
	<string>AIzaSyAvB4lqB9gB-9AkFtNqj3QFJOkmzF5Kwdg</string>
	<key>GCM_SENDER_ID</key>
	<string>679164283287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaa.ShareTodoApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-cart-demo-71190</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-cart-demo-71190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679164283287:ios:f6c0526724d7a1e2ff5cd2</string>
</dict>
</plist>